<hello name="{{ name }}"></hello>
  <h4>Start editing to see some magic happen :)
</h4>
<h2>Registration Form</h2>
<div>

<label>First Name</label>
<input type="text" placeholder="Enter First Name" name="fname"><br><br>
<label>Last Name</label>
<input type="text" placeholder="Enter Last Name" name="lname"><br><br>
<label>Email Id</label>
<input type="text" placeholder="Enter Email" name="email"><br><br>
<label>Date Of Birth</label>
<input type="date" name="dob"><br><br>
<label>Address</label>
<input type="text" placeholder="Enter Address"><br><br>
<label>Phone Number</label>
<input type="number" placeholder="Enter phone number"><br><br>
<button type="submit">Submit</button>

</div>




